#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.header {
  margin-bottom: 32px;
}
